<!-- Hero Section -->
<section class="container-fluid text-center py-5 bg-dark">
    <div class="container">
        <h1 class="text-white font-weight-bold"><%= page %></h1>
        <p class="text-white"><%= page %></p>
    </div>
</section>
